div.cartodb-popup.v2.header div.cartodb-popup-header {
    max-height: 400px;
}
.leaflet-popup-content-wrapper
{
    padding: 0px;
    border-style: solid;
    border-width: medium;
}

.leaflet-popup-content {
margin: 0px;
}
