html, body, #sidebar, #container {
                height: 100%;
                margin: 0px;
            }
            body {
                padding-top: 50px;
                font-family: 'Noto Sans', sans-serif;

            }
            .panel-primary {
				border-color: black;

			}
            .panel-primary .panel-heading {
				color: black;
            	background-color: #c6d66f;
				border-color: gray;


            }

            img {
            max-width: 100%;
            height: 300px;
            display: block;
            margin: 0 auto;
            }

            label {
                font-weight: normal;
            }
            #map {
                height: 100%;
                margin: 0px;
				padding: 15px;
                -webkit-box-shadow: 0 -1px 10px rgba(0,0,0,0.5);
                -moz-box-shadow: 0 -1px 10px rgba(0,0,0,0.5);
                box-shadow: 0 -1px 10px rgba(0,0,0,0.5);
                marker-allow-overlap: true;
                [zoom > 4] {marker-width: 0}
            }
            #loading {
                position: absolute;
                width: 220px;
                height: 19px;
                top: 50%;
                left: 50%;
                margin: -10px 0 0 -110px;
                z-index: 20001;
				display: none;
            }
            #searchbox {
                -webkit-border-top-left-radius: 4px;
                -webkit-border-bottom-left-radius: 4px;
                -moz-border-top-left-radius: 4px;
                -moz-border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            .table {
                margin-bottom: 0px;

            }
            .navbar .navbar-brand {
                font-weight: bold;
                font-size: 22px;
                color: white;
                white-space: nowrap;
                font-family: 'Meddon', cursive;

            }


            .navbar {
				background: #f3904f; /* For browsers that do not support gradients */
				background: -webkit-linear-gradient(left, #283048, #859398); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(right, #283048, #859398); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(right, #283048, #859398); /* For Firefox 3.6 to 15 */
				background: linear-gradient(to right, #283048, #859398); /* Standard syntax (must be last) */
}
            .navbar-collapse.in {
                /*overflow-y: hidden; fixed typeahead cropping*/
            }



.collapse-non-md {
    height: 0;
    display: none;
}
.collapse-non-md.collapsing {
    display: block;
}

@media (min-width: 992px) {
    .collapse-non-md {
        height: auto;
        display: block;
    }
}


            #sidebar {
                padding: 10px;
                overflow-y: auto;
                max-height: 1000px;
            }



            .tt-dropdown-menu {
                overflow: hidden;
				width: 100%;

            }
            .tt-hint, .tt-query {
                display: block;
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                border-radius: 4px;
            }
            .typeahead-header {
                margin: 0 5px 5px 5px;
                padding: 3px 0;
                border-bottom: 2px solid #333;
            }
            .tt-suggestion + .tt-suggestion {
                border-top: 1px solid #ccc;
            }

			.dropdown-menu
			{
				overflow:hidden;
			}



            .search-container {
                width: 250px;
            }
            .panel-heading a:hover {
                text-decoration: none;
            }

            @media (max-width: 767px){
                .search-container {
                    width: 100%;
                }
                .url-break {
                    word-break: break-all;
                    word-break: break-word;
                    -webkit-hyphens: auto;
                    hyphens: auto;
                }
            }

            /* Print Handling */
            @media print {
                .navbar, .toggle, #sidebar {
                    display: none !important;
                }
            }

#results_list > li:hover{
    background-color: #ccffcc;
}

#results_list > li.active{
    background-color: red!important;
}


.leaflet-popup-content-wrapper {
    border:solid 0px black;
    overflow:hidden;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background:white;
    padding: 0px;
}

.leaflet-popup-content p{
    margin: 0px;
}

.leaflet-popup-content{
    margin: 0px;
}

.report-link-container{
  padding-left: 7px;
  padding-bottom: 5px;
}


.popup-container
{
    display: block;
    text-align: left;
    pointer-events: all;
    font-family: 'Roboto', sans-serif;
}
.popup-header
{
    background: gray;
    padding: 8px;
    border: red;
    border-width: 1px;
    border-style: hidden hidden solid hidden;
}

.popup-header-title{
    color: #dceefb;
    word-wrap: break-word;
    display: block;
    width: 190px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #CCC;
    word-wrap: break-word;
    line-height: 120%;
    font-family: inherit;
}

#owner-name
{
    display: block;
    width: 190px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    word-wrap: break-word;
    line-height: 120%;
    font-family: inherit;
}

.popup-parcel-details
{
    width: 100%;
    font-size: medium;
    background: white;
    padding: 8px;
    font-family: inherit;
}


.popup-parcel-details > h4
{
    color: #dceefb;
    word-wrap: break-word;
    display: block;
    width: 190px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-family: inherit;
    color: #4d4d4d;
    word-wrap: break-word;
    line-height: 120%
}



#reportLink
{

    display: block;
    background: white;
    padding: 5px;
}


.slideContainer {
    overflow: hidden;
    white-space: nowrap;
}


@media (min-width: 767px) {
    .desktop-buttons{
        display: inline-block;

    }
    .mobile-buttons{
        display:none;
    }
}

@media (max-width: 766px) {
    .desktop-buttons{
        display: none;
    }
    .mobile-buttons{
        display:inline-block;
        vertical-align: bottom;
    }
}
.navbar-header {
    display:inline-block;
}

.mobile-button{
    padding:15px;
    display:block;
    font-family: 'Noto Sans', sans-serif;
    line-height:20px;
    font-size: 14px;
    position:relative;
}
